@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: local("Inter"),
        url('../font/Inter.woff2') format('woff2'),
        url('../font/Inter.woff') format('woff'),
        url("../font/Inter.ttf") format('truetype');
    font-display: swap;
}