:root {
    --color-primary: #BF7506;
    --color-secondary: #DD9C3C;
    --color-black: #211B12;
    --color-gray: #83807C;
    --color-light-gray: #E0DEDC;
    --color-white: #fff;

    --transition-fast: .3s;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-black);

    scroll-behavior: smooth;
    overflow-x: hidden;
}

::selection {
    background-color: var(--color-light-gray);
}

.container {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 15px;
}

h2, h3 {
    font-weight: 700;
}

p {
    line-height: 150%;
}

.primary-text {
    color: var(--color-primary);
}

.button {
    padding: 7px 8px 5px 8px;
    border-bottom: 2px solid var(--color-primary);
    font-weight: 700;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: border-color var(--transition-fast);
}

.button:hover {
    border-color: var(--color-black);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.skills__tag {
    margin-bottom: 10px;
}

.tag-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 5px 8px;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    transition:
        background-color var(--transition-fast),
        color var(--transition-fast);
}

.tag-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}


/* NAVBAR  */
/* NAVBAR  */

.navbar {
    margin-top: 20px;
    padding: 20px 0;
}

.navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav-list {
    display: flex;
    gap: 24px;
}

.navbar__nav-link {
    color: var(--color-primary);
    transition: color var(--transition-fast);
}

.navbar__nav-link.active {
    font-weight: 700;
}

.navbar__nav-link:hover:not(.active) {
    color: var(--color-secondary);
}

.burger-wrapper {
    display: none;
}


/* HEADER  */
/* HEADER  */

.header {
    margin: 50px 0 70px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__text {
    font-weight: 700;
    max-width: 490px;
}

.header__welcome-text {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
}

.header__heading {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin: 8px 0 24px 0;
}

.header__links {
    display: flex;
    align-items: center;
    gap: 65px;
}

.header__socials {
    display: flex;
    gap: 24px
}

.header__socials-link img {
    transition: transform var(--transition-fast);
}

.header__socials-link img:hover {
    transform: scale(1.1);
}

.header__button {
    gap: 10px;
}


/* PROJECTS  */
/* PROJECTS  */

.projects__heading {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    margin-bottom: 32px;
}

.projects__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 400px;
}

.card__image {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}

.card__text {
    padding: 16px;
}

.card__heading {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--color-primary);
    margin-bottom: 8px;
}

.card__description {
    margin: 16px 0;
}

.card__buttons {
    display: flex;
    gap: 25px;
}

.card__button {
    gap: 5px;
}


/* DEVELOPER */
/* DEVELOPER */

.developer {
    margin: 100px 0 40px 0;
}

.developer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.developer__image {
    border-radius: 20px;
    max-width: 100%;
}

.developer__welcome {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
}

.developer__heading {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    margin: 4px 0 16px 0;
}

.developer__opportunities {
    font-size: 24px;
    line-height: 150%;
    color: var(--color-secondary);
    margin: 16px 0;
}

.developer__sign {
    max-width: 200px;
    margin-top: 32px;
}


/* SKILLS */
/* SKILLS */

.skills__heading {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-bottom: 13px;
}

.skills__tag-link {
    font-size: 16px;
}


/* FEEDBACK */
/* FEEDBACK */

.feedback {
    margin: 120px 0 150px 0;
}

.feedback__container {
    margin: 0 auto;
    max-width: 435px;
    padding: 0 15px;
    position: relative;
}

.feedback__heading {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.feeadback__form {
    margin-bottom: 16px;
}

.feedback__input {
    position: relative;
    padding-top: 6px;
    margin-bottom: 24px;
}

.feedback__input-label {
    color: var(--color-gray);
    padding: 0 8px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 16px;
    transition: color var(--transition-fast);
}

.feedback__input-field {
    border: 3px solid var(--color-light-gray);
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 20px;
    transition: border-color var(--transition-fast);
}

.feedback__input-field:focus {
    border-color: var(--color-secondary);
}

.feedback__input:focus-within .feedback__input-label {
    color: var(--color-primary);
}

.feedback__input textarea {
    min-height: 140px;
    resize: vertical;
}

.feedback__button {
    gap: 5px;
    font-size: 16px;
    margin-left: auto;
}

.feedback__hand {
    position: absolute;
    top: 60px;
    left: 465px;
    pointer-events: none;
}


/* FOOTER  */
/* FOOTER  */

.footer__inner {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.footer__text {
    color: var(--color-gray);
}


/* MEDIA  */
/* MEDIA  */

@media (max-width: 740px) {
    .header__memoji {
        width: 150px;
    }

    .header__welcome-text {
        font-size: 30px;
    }

    .header__heading {
        font-size: 20px;
    }

    .header__links {
        flex-wrap: wrap;
        gap: 20px;
    }


    .projects__heading {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .card__heading {
        font-size: 20px;
    }


    .developer__image {
        width: 280px;
    }

    .developer__welcome {
        font-size: 20px;
    }

    .developer__heading {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .developer__opportunities {
        font-size: 20px;
        margin: 8px 0;
    }

    .developer__sign {
        max-width: 120px;
    }


    .feedback__hand {
        display: none;
    }
}


@media (max-width: 630px) {
    .developer {
        margin: 70px 0;
    }

    .developer__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .developer__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }


    .skills__heading {
        font-size: 20px;
    }


    .feedback__heading {
        font-size: 26px;
    }
}


@media (max-width: 530px) {
    .no-scroll {
        overflow: hidden;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        background-color: #00000025;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .overlay.active {
        visibility: visible;
    }

    .navbar__inner {
        position: relative;
    }

    .navbar__nav-list {
        background-color: var(--color-white);
        padding: 80px 100px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -20px;
        right: -15px;
        border-radius: 4px 0 0 4px;
        transform: translate(100%);
        transition: transform var(--transition-fast);
    }

    .navbar__nav-list.active {
        transform: translate(0);
    }

    .burger-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 25px;
        height: 15px;
        z-index: 2;
    }

    .burger-wrapper:hover {
        cursor: pointer;
    }

    .burger {
        width: 25px;
        height: 3px;
        background-color: var(--color-secondary);
        border-radius: 4px;
        position: relative;
        z-index: 20;
    }

    .header__memoji {
        display: none;
    }

    .projects__cards {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .card {
        max-width: 100%;
    }

    .card__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}